.gnb {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    background: #4b4545;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    height: 80px;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}
.pageBtn{
    font-size: 1.3rem;
    font-weight: 800;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
}
.logo {
    margin-left: 20px;
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.18);
}